[Desktop Entry]
Version=1.0
Name[es]=Inkscape
Name=Inkscape
GenericName[es]=Editor de gráficos vectoriales
GenericName=Vector Graphics Editor
X-GNOME-FullName=Inkscape Vector Graphics Editor
Comment[es]=Cree y edite Gráficos Vectoriales Escalables (SVG)
Comment=Create and edit Scalable Vector Graphics images
Keywords[es]=imagen, editor; vectorial; dibujo;
Keywords=image;editor;vector;drawing;
Type=Application
Categories=Graphics;VectorGraphics;GTK;
MimeType=image/svg+xml;image/svg+xml-compressed;application/vnd.corel-draw;application/pdf;application/postscript;image/x-eps;application/illustrator;image/cgm;image/x-wmf;application/x-xccx;application/x-xcgm;application/x-xcdt;application/x-xsk1;application/x-xcmx;image/x-xcdr;application/visio;application/x-visio;application/vnd.visio;application/visio.drawing;application/vsd;application/x-vsd;image/x-vsd;
Exec=inkscape %F
TryExec=inkscape
Terminal=false
StartupNotify=true
Icon=org.inkscape.Inkscape
X-Ayatana-Desktop-Shortcuts=Drawing
X-XFCE-Source=file:///usr/share/applications/org.inkscape.Inkscape.desktop

[X-Drawing Shortcut Group]
Name[es]=Dibujo nuevo
Name=New Drawing
Exec=inkscape
TargetEnvironment=Unity
